// >>>>>>>>>> Main section styling starts from here >>>>>>>>>
// >>>> Section One styling>>>>>
// >> Profile and image starts from here >>
.profile {
  height: 80vh;
  @include position(relative);
  white-space: nowrap;
  .profile-image {
    box-shadow: 0px 10px 9px -3px #fd9a3dea;
    @include elementDisplay(block);
    filter: opacity(80%);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
// >> paragraph left and right positioning and writing-mode settings >>
.aside-text-left {
  color: #b0a180;
  @include position(absolute, $top: 20rem, $left: 0);
  writing-mode: vertical-lr;
  > p {
    margin: 0;
  }
}
.aside-text-right {
  bottom: 35rem;
  color: #b0a180;
  @include position(absolute,$right: 0);
  writing-mode: vertical-rl;
  & p {
    margin: 0;
  }
}
// >> Text annimation "I am a Dev...." section settings starts rome here >>
.wrapper {
  @include elementDisplay(inline-flex);
  @include position(absolute, $left: 33rem);
  bottom: 37rem;
  .static-text {
    font-size: 6rem;
    color: $textColor;
  }
  .dynamic-text {
    margin-left: 15px;
    margin: 0;
    height: 95px;
    line-height: 87px;
    overflow: hidden;
    & li {
      @include position(relative, $top: 0);
      font-size: 6rem;
      color: $colorMain;
      animation: slide 6s steps(4) infinite;
      & span::after {
        animation: typing 1.5s steps(10) infinite;
        background: rgb(32, 32, 32);
        border-left: 2px solid $colorMain;
        content: "";
        height: 100%;
        @include position(absolute, $left: 0);
        width: 100%;
      }
      @keyframes typing {
        100% {
          left: 100%;
          margin: 0 -35px 0 35px;
        }
      }
      @keyframes slide {
        100% {
          top: -360px;
        }
      }
    }
  }
}
// >>>> Section one Styling ends here >>>>

// >>>> section two styling starts from here >>>>
// >> Grid section 2-col >>
.grid-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  .image_feat {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
//>> SVG Icon styling >>
  .icon-container {
    @include flexDisplay(flex, center, center);
    border-radius: 100%;
    @include elementDisplay(inline-flex);
    height: 64px;
    width: 64px;
  }
// >> Link-arrow styling >> 
  .link-arrow {
    color: #d60032;
    text-transform: $upper;
    font-weight: 600;
    font-size: 2rem;
    transition: 0.2s;
    &:hover::after {
      margin-left: 10px;
    }
    &::after {
      content: "-->";
      margin-left: 5px;
    }
  }
}
// >>>> Section Two styling ends here >>>>

// >>>> Section Three styling starts from here >>>>
.main-title {
  text-align: $centerText;
  margin: 5rem 0;
  .title-header {
    font-weight: 300;
    margin: 20px 0;
  }
}
// >> button styling >>
  .btn {
    border-radius: 40px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0;
    padding: 2rem 3rem;
    text-align: $centerText;
    text-transform: $upper;
    white-space: nowrap;
  }
  .btn--primary {
    background: #d60032;
    color: $textColor;
    &:hover {
      background: lighten(#d60032, 10%);
      cursor: pointer;
    }
  }
// >> input Group >>
.input {
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  background: #fff;
  width: 600px;
  margin: auto;
  .input {
    border: 0;
    flex: 1;
  }
}
// >> Cards stylings  >>
.cards {
  @include flexDisplay(flex);
  .card {
    border-radius: 7px;
    border: 1px solid rgb(163, 163, 163);
    margin: 0 10px 0;
    overflow: hidden;
    width: 50%;
  }
    .card__image {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }
  // >> cards buttons settings >>
    .btn-center {
      @include flexDisplay(flex, center, center );
    }
    .btn {
      background: none;
      border-radius: 40px;
      border: $borderLine;
      color: $textColor;
      font-size: 1.8rem;
      margin-bottom: 20px;
      padding: 1.5rem 5rem;
      text-transform: $upper;
      &:hover {
        background-color: lighten(#d60032, 10%);
        cursor: pointer;
      }
      .btn-title {
        color: $textColor;
        font-weight: bold;
      }
    }
  // >> card text >>
  .course__intro {
    text-align: $centerText;
    font-weight: 100;
    text-transform: $upper;
  }
  .card__body {
    text-align: $centerText;
    margin-bottom: 40px;
    color: #666;
  }
}
// >>>> Section Three stylings ends here >>>>

// >>>> section Four stylings stars from here >>>>
// >> Section Title >>
.objectives {
  margin-top: 3rem;
  max-height: 600px;
}
.video-container {
  overflow: hidden;
  height: 500px;
  > video {
    min-width: 100%;
    min-height: 100%;
    filter: brightness(60%);
  }
}

// >>>> Section Five Styling >>>>
// >> Testimonial >>
.testimonial {
  padding: 3rem;
  box-shadow: 1px 1px 10px 1px #ebe8e8;
}
// >> grid col-2 >>
.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
}
// >> test. image >>>
.testimonial__image {
  @include position(relative);
  > img {
    width: 100%;
  }
  > .icon-container {
    @include position(absolute, $top:3rem, $right:-32px);
  }
}
// >> SVG icon >>
.icon-container-style {
  @include flexDisplay(inline-flex, center, center);
  background: #d60032;
  border-radius: 100%;
  height: 64px;
  width: 64px;
  .icon-color {
    fill: $textColor;
  }
}

// >> Quotes styling >>
.quote {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
  .quote__text::before {
    content: open-quote;
    margin-right: 5px;
  }
  .quote__text::after {
    content: close-quote;
    margin-left: 5px;
  }
  .media {
    @include flexDisplay(flex);
  }
  .media__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
  }
  .media__body {
    margin: 0 2rem;
  }
  .media__company {
    font-style: normal;
    opacity: 0.5;
  }
}
// >>>>>>>>> Main Section Styling Ends here >>>>>>


