@mixin BackgroundImage(
  $backRepeat,
  $backPosition,
  $backSize,
  $backAttachement
) {
  background-repeat: $backRepeat;
  background-position: $backPosition;
  background-size: $backSize;
  background-attachment: $backAttachement;
}

// >>>>> Main section styling >>>>>

.profile {
  position: relative;
  height: 80vh;
  white-space: nowrap;
  .profile-image {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 9px -3px #fd9a3dea;
    filter: opacity(80%);
  }
}

.aside-text-left {
  position: absolute;
  left: 0;
  top: 20rem;
  writing-mode: vertical-lr;
  color: #b0a180;
  > p {
    margin: 0;
  }
}

.aside-text-right {
  position: absolute;
  writing-mode: vertical-rl;
  right: 0;
  bottom: 35rem;
  color: #b0a180;
  & p {
    margin: 0;
  }
}

.big-eclipse {
  width: 800px;
  position: absolute;
  right: 0;
  top: -100px;
  z-index: -1;
  height: 100%;
}

.mid-eclipse {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
}

.wrapper {
  display: inline-flex;
  position: absolute;
  left: 33rem;
  bottom: 37rem;

  .static-text {
    font-size: 6rem;
    color: $textColor;
  }

  .dynamic-text {
    margin-left: 15px;
    margin: 0;
    height: 95px;
    line-height: 87px;
    overflow: hidden;
    & li {
      position: relative;
      font-size: 6rem;
      color: $colorMain;
      top: 0;
      animation: slide 6s steps(4) infinite;
      & span::after {
        content: "";
        height: 100%;
        width: 100%;
        border-left: 2px solid $colorMain;
        position: absolute;
        background: rgb(32, 32, 32);
        left: 0;
        animation: typing 1.5s steps(10) infinite;
      }
      @keyframes typing {
        100% {
          left: 100%;
          margin: 0 -35px 0 35px;
        }
      }
      @keyframes slide {
        100% {
          top: -360px;
        }
      }
    }
  }
}

// >>>>> section two styling >>>>>
.grid-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  .image_feat {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .icon-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .link-arrow {
    color: #d60032;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    transition: 0.2s;
    &:hover::after {
      margin-left: 10px;
    }
    &::after {
      content: "-->";
      margin-left: 5px;
    }
  }
}

.main-title {
  text-align: center;
  margin: 5rem 0;
  .title-header {
    font-weight: 300;
    margin: 20px 0;
  }
  .btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border: 0;
    border-radius: 40px;
    white-space: nowrap;
    text-align: center;
  }
  .btn--primary {
    background: #d60032;
    color: $textColor;
    &:hover {
      background: lighten(#d60032, 10%);
      cursor: pointer;
    }
  }
}

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: 0;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
  background: #fff;
  width: 600px;
  margin: auto;

  .input {
    border: 0;
    flex: 1;
  }
}

// >>>>> styling section three >>>>

.cards {
  display: flex;

  .card {
    width: 50%;
    border: 1px solid rgb(163, 163, 163);
    margin: 0 10px 0;
    border-radius: 7px;
    overflow: hidden;

    .card__image {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }
    .btn-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn {
      font-size: 1.8rem;
      text-transform: uppercase;
      padding: 1.5rem 5rem;
      border: $borderLine;
      border-radius: 40px;
      background: none;
      color: $textColor;
      margin-bottom: 20px;

      &:hover {
        background-color: lighten(#d60032, 10%);
        cursor: pointer;
      }

      .btn-title {
        color: $textColor;
        font-weight: bold;
      }
    }
  }
  .course__intro {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
  }
  .card__body {
    text-align: center;
    margin-bottom: 40px;
    color: #666;
  }
}

// Section Three Styling
.testimonial {
  padding: 3rem;
  box-shadow: 1px 1px 10px 1px #ebe8e8;
}

// testimonial styling

.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);
}
.testimonial__image {
  position: relative;
  > img {
    width: 100%;
  }
  > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
  }
}

.icon-container-style {
  background: #d60032;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  .icon-color {
    fill: $textColor;
  }
}

// Quotes styling
.quote {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;

  .quote__text::before {
    content: open-quote;
    margin-right: 5px;
  }
  .quote__text::after {
    content: close-quote;
    margin-left: 5px;
  }

  .media {
    display: flex;
  }

  .media__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
  }

  .media__body {
    margin: 0 2rem;
  }
  .media__company {
    font-style: normal;
    opacity: 0.5;
  }
}

// Footer styling

.footer-container {
  position: relative;
  border: 1px solid #fff;
  height: 70vh;
  display: flex;
  align-items: center;
  background: #fff;

  .dropdown {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

    .sitemap {
      @extend .socials;
    }

    .socials {
      position: relative;
      ul {
        position: absolute;
        left: 0;
        padding: 0;
        width: 200px;
        height: 200px;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.4s ease;
      }
      .footer-btn:focus + ul {
        opacity: 1;
        pointer-events: all;
      }
    }

    .contact {
      @extend .socials;
    }
    .logo-footer {
      .writing-mode-text {
        margin: 0;
        writing-mode: vertical-lr;
        color: rgb(32, 32, 32);
      }
    }
  }

  .footer-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    color: $colorMain;
    text-transform: uppercase;
    &:hover {
      color: #a84e00;
      cursor: pointer;
    }
  }
}

.coder {
  width: 90%;
  position: absolute;
  bottom: 2rem;
  left: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .code-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .coder-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    .coder-text {
      margin-left: 1rem;
      color: rgb(32, 32, 32);
      font-size: 2rem;
    }
  }
}

// media query for the main section
@media screen and (max-width: 768px) {
  .big-eclipse,
  .mid-eclipse {
    display: none;
  }
  .profile-image {
    width: 100%;
    height: 400px;
    filter: none;
  }

  .wrapper {
    display: none;
  }

  .aside-text-left {
    position: absolute;
    left: 0;
    top: 10rem;
    writing-mode: vertical-lr;
    color: #555;
    p {
      margin: 0;
    }
  }

  .aside-text-right {
    position: absolute;
    writing-mode: vertical-rl;
    right: 0;
    bottom: 35rem;
    color: #555;
    & p {
      margin: 0;
    }
  }
  .grid-feature {
    display: grid;
    grid-template-columns: 1fr;
  }
  h1 {
    margin: 30px 0 0;
    color: $headingsColor;
    font-size: 3rem;
  }
  h2,
  h3,
  h4 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 20px 0 20px;
    color: $headingsColor;
    font-size: 2rem;
    line-height: 1.2;
  }
  p {
    font-size: 1, 3;
    margin-top: 0;
    color: $textColor;
    line-height: 1.4;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    .card {
      margin: 0 0 20px 0;
      width: 100%;
    }
  }
  .title-header {
    text-align: left;
  }

  .link-arrow {
    font-size: 1.8rem;
  }
  .input-group {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    background: #fff;
    width: 80%;
    .input {
      width: 100%;
    }
  }
  .grid--1x2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .quote__text {
    font-size: 1.6rem;
  }

  .media__company {
    font-size: 1.4rem;
  }
}
