*,
*::after,
*::before {
  box-sizing: border-box;
}

// >>>>>  Typography >>>>>

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  width: 90vw;
  margin: auto;
  line-height: 1.2;
  background: rgb(32, 32, 32);
  color: $textColor;
}

h1 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 30px 0 0;
  color: $headingsColor;
  font-size: 4rem;
}
h2,
h3,
h4 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 20px 0 20px;
  color: $headingsColor;
  font-size: 3rem;
  line-height: 1.2;
}
p {
  margin-top: 0;
  color: $textColor;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
