$primary-font:"Poppins", Arial, Helvetica, sans-serif;
$secondary-font: "Roboto", Arial, Helvetica, sans-serif;
$colorMain: #fa7b61;
$textColor: #dbdbdb;
$borderLine: 1px solid #6b6b6b;
$headingsColor: #fff;
$centerText: center;
$upper: uppercase;
$bodycolor: rgb(32,32,32);